body {
		margin: 0px;
		}
canvas{
	display:block;
}
.menu {
			position: fixed;
			top: 20px;
			right: 20px;
						color: #fff;

		}
		button {
			margin-bottom: 6px;
			width: 120px;
			font-size: 14px;
			outline: none;
			background: #333;
			color: #ddd;
			border: none;
			opacity: .5;
		}
		
		.score{
			position: fixed;
			top: 20px;
						left: 700px;

	      color: #fff;
		}
		.menu1
		{
			position: fixed;
			top: 20px;
			left: 20px;
			color: #fff;
		}
		.menu2
		{
            position: fixed;
			top: 160px;
			left: 20px;
						color: #fff;

		}
